@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 54, 10, 15; /* Changed to red velvet */
  --background-end-rgb: 35, 7, 10; /* Darker red velvet */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-playfair), ui-serif, Georgia, serif;
  }
}
